{% extends "./base.html" %}
{% block content %}
  <h1> OASE: Online Analytics Services Example</h1>
  <div class="indent">
    OASE is a role-focused analytics application. Today we need this kind of tools in areas that either were
    traditionally underserved by technology or by applications, or where tools didn't bring the expected result
    because have been traditionally pushed top down from the IT department to those users, instead of them being
    organically adopted.
  </div>
  <div class="indent">
    It's a simple to use web application designed to help professionals in various roles to spend less time on
    collecting and analyzing data, and give them value information trough graphs. A new user can quickly learn
    the main functionalities and take advantage of this tool, even he/she didn't previously work with similar
    applications.
  </div>
  <div class="indent">
    This first release contains functionalities for 2 roles: a loan expert and a nutritionist. While in general loan
    experts are working in banks or consulting companies, the nutritionists are small entrepreneurs who don't have an
    IT team behind and generally operate without digital tools, but based on their experience.
  </div>
  <div class="indent">
    The first step in using OASE is to populate the database through the web interface; to gain competitive advantage
    from this data, special graphs are generated in the "Dashboard" sections.
  </div>
{% endblock content %}