{% extends "./base.html" %}
{% block content %}
  <h1>Client details</h1>

  <table id="centred">
    <tr><td><h3> First name:</h3></td> <td><h3>{{myID.first_name}}</h3></td></tr>
    <tr><td><h3> Last name:</h3></td> <td><h3>{{myID.last_name}}</h3></td></tr>
    <tr><td><h3> Email:</h3></td> <td><h3>{{myID.email}}</h3></td></tr>
    <tr><td><h3> Age:</h3></td> <td><h3>{{myID.age}} years</h3></td></tr>
    <tr><td><h3> Sex:</h3></td> <td><h3>{{myID.sex}}</h3></td></tr>
    <tr><td><h3> Initial weight:</h3></td> <td><h3>{{myID.initial_weight}} kg</h3></td></tr>
    <tr><td><h3> Workout:</h3></td> <td><h3>{{myID.workout}}</h3></td></tr>
    <tr><td><h3> Stress level:</h3></td> <td><h3>{{myID.avg_stress_level}}</h3></td></tr>
    <tr><td><h3> Diet:</h3></td> <td><h3>{{myID.diet}}</h3></td></tr>
    <tr><td><h3> Weight 1 month:</h3></td> <td><h3>{{myID.weight_1_month}} kg</h3></td></tr>
    <tr><td><h3> Weight 3 months:</h3></td> <td><h3>{{myID.weight_3_months}} kg</h3></td></tr>
  </table>
{% endblock content %}